<section class="card contenedor">
    
    <h2>Experiencia</h2>
    <div class="experiencia caja-format">
        <ul class="card" *ngFor="let exp of experiencia">
            <li *ngIf="!editarEmpres"><div><h3>{{exp.empresa}} <i class="fa-solid fa-industry"></i></h3></div><a class="btn desactivado" (click)="editarEmpresa(exp)"><i class="fa fa-pen"></i></a></li>
            <li *ngIf="(exp === expSeleccionada)&&(editarEmpres)">
                <input id="editar-nom" type="text" [(ngModel)]="expSeleccionada.empresa" (keydown.enter)="onEnterEmpresa($event)" [hidden]="false" (keydown.enter)="editarExperiencia()">
            </li>

            <li *ngIf="!editarPuesto "><p>{{exp.puesto}}</p></li>
            <li *ngIf="(exp === expSeleccionada)&&(editarPuesto)">
                <input id="editar-nom" type="text" [(ngModel)]="expSeleccionada.puesto" (keydown.enter)="onEnterPuesto($event)" [hidden]="false" (keydown.enter)="editarExperiencia()">
            </li>

            <li *ngIf="!(exp.trabajoActual)"><span>{{exp.fechainicio}} - {{exp.fechaFin}}</span></li>
            <li *ngIf="(exp === expSeleccionada)&&(editarFechaI)">
                <input  id="editar-nom" type="text" [(ngModel)]="expSeleccionada.fechainicio" (keydown.enter)="onEnterFechaI($event)" [hidden]="false" (keydown.enter)="editarExperiencia()"></li>
                <li *ngIf="(exp === expSeleccionada)&&(editarFechaFin)&&(!(exp.trabajoActual))">
                <input  id="editar-nom" type="text" [(ngModel)]="expSeleccionada.fechaFin" (keydown.enter)="onEnterFechaFin($event)" [hidden]="false" (keydown.enter)="editarExperiencia()">
            </li>


            <li *ngIf="(exp.trabajoActual)">Actualmente me encuentro trabajando desde la fecha <span>{{exp.fechainicio}}</span></li>
            <li *ngIf="(exp === expSeleccionada)&&(editarActual)&&(exp.trabajoActual)">
                <input  id="editar-nom" type="text" [(ngModel)]="expSeleccionada.inicio" (keydown.enter)="onEnterActual($event)" [hidden]="false" (keydown.enter)="editarExperiencia()">
            </li>
            
            <li *ngIf="!editarDescripcion"><p>{{exp.descripcion}}</p></li>
            <li *ngIf="(exp === expSeleccionada)&&(editarDescripcion)">
                <textarea  id="editar-nom" type="text" [(ngModel)]="expSeleccionada.descripcion" (keydown.enter)="onEnterDescripcion($event)" [hidden]="false" (keydown.enter)="editarExperiencia()"></textarea>
            </li>
        </ul>
    </div>
</section>