<section class="card">
    <div class="n1">    
        <h2>Hard & Soft Skills</h2><a class="btn-edit"><i class="fa fa-pen"></i></a>
        
    </div>
    <p>Tienen que ser varios iconos mostrando el desempenio</p>
    <div class="row">    
        <div class="skill col">CSS</div>
        <div class="skill col">html</div>
        <div class="skill col">js</div>
    </div>
    <div class="row">    
        <div class="skill col">java</div>
        <div class="skill col">ts</div>
        <div class="skill col">Angular</div>
    </div>
    </section>


 
    <h1>Progress Bar</h1>
    <button (click)="start()">Start</button>
    <button (click)="complete()">Complete</button>
    <div>
       
    </div>