<div class="contenedor site-header">
    <div class="logo-Ar"><img class="icono" src="../../../assets/logo.png" alt=""><p>Argentina Programa</p></div>
    <nav class="nav">
        <a href="https://www.facebook.com/profile.php?id=100014256069354&mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/c_villalba_32/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/carlos-daniel-villalba-334a8422a/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="../login/login.component.html"><i class="fa-solid fa-user"></i></a></nav>
</div>

